body {
  padding: 10px;
}
input, textarea{
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #9E9E9E;
  padding: 15px 20px;
  font: 14px sans-serif;
}
textarea {
  resize: none;
}
.form_company {
  display: none;
}
#sendbutton {
  background-color: white;
  color: #009900;
  font: bold 16px sans-serif;
  border-color: #009900;
  cursor: pointer;
  transition-duration: 0.3s;
}
#sendbutton:hover {
  background-color: #009900;
  color: white;
}