$palette1: #36b5b0;
$palette2: #9dd8c8;
$palette3: #f09595;
$palette4: #fcf5b0;
$black: #000;
$background: #fff;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: $background;
}

.fullscreen {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background: $palette4;
  color: $palette1;
  position: relative;

  h1 {
    text-align: center;
    font-size: 5em;
  }

  &_links {
    position: absolute;
    top: 0;
    text-align: right;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;

    a {
      font-size: 38px;
      color: $palette1;
      margin: 8px;
    }
  }
}

.paragraph {
  padding: 96px;
  font-size: 2.5em;
  text-align: center;
  background: $palette1;
  color: $palette4;

  p {
    margin: 8px 0;
  }
}

.projects-page {
  color: $black;
  justify-content: space-evenly;
  text-align: center;

  h2 {
    font-size: 2.5em;
    font-weight: normal;
  }

  .projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .project {
      $project-width: 300px;
      width: $project-width;
      margin: 32px;
      
      h3 {
        font-size: 1.5em;
        margin: 32px 0;
      }

      h4 {
        margin: -24px 0 32px;
      }

      a {
        text-decoration: none;
        color: $black;
      }

      &_logo {
        width: $project-width;
        height: $project-width;
        box-sizing: border-box;
        border: 8px solid $palette2;
        background: $palette2;
        padding: 50px;
        display: flex;
        align-items: center;;
        border-radius: 50%;
        transition: 0.4s ease-out;

        &:hover {
            background: none;
        }

        img, p {
          width: 100%;
          font-size: 2em;
          font-weight: bold;
          color: $background;
        }
      }
    }
  }
}

.separator {
  padding: 4px;
  &:nth-of-type(3n) {
    background-color: $palette1;
  }
  &:nth-of-type(3n+1) {
    background-color: $palette4;
  }
  &:nth-of-type(3n+2) {
    background-color: $palette3;
  }
}

footer {
  padding: 32px;
  background-color: $palette3;
  color: $background;
  text-align: center;
  
  .footer-links {
    a {
      font-size: 38px;
      color: $background;
      margin: 8px;
    }
  }
}
